# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# NuGet Packages
*.nupkg
# NuGet Symbol Packages
*.snupkg

# Others
~$*
*~
CodeCoverage/

# MSBuild Binary and Structured Log
*.binlog

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUnit
*.VisualState.xml
TestResult.xml
nunit-*.xml

# Terraform
.terraform/
.terraform.lock.hcl
.terraform.tfstate.lock.info
*.tfstate
*.tfstate.backup
*.tfvars
*.tfplan

# Local .terraform directories
.terraform.d/

# Local configuration files
*.local

# Local environment variables
.env

# Local secrets
*.key
*.pem

# Local configuration files for Terraform
*.auto.tfvars
*.auto.tfvars.json

# Local configuration files for AWS
*.aws

# VS Code settings
.vscode/

# App Settings Specific file
./FantasySports/FantasySports.Api/appsettings.Development.json

# Or all Development settings files
**/appsettings.Development.json

# Python
scripts/imports/venv/
scripts/imports/__pycache__/
*.pyc

# Data files
scripts/data/
*.csv

# But keep the directory structure
!scripts/data/.gitkeep